:root {
  --background: #e2e2e2;
  --user-color: #16fe4c;
  --computer-color: #1677fe;
  --scoreboard: #fff;
}

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");

body {
  background-color: var(--background);
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
  position: relative;
}

.user {
  background-color: var(--user-color);
  position: relative;
}

.computer {
  background-color: var(--computer-color);
}

.splitup {
  display: grid;
  place-items: center;
}

.scoreboard {
  position: absolute;
  width: calc(95% - 3em);
  max-width: 500px;
  top: 2em;
  padding: 0.5em 1em;
  background-color: var(--scoreboard);
  left: 50%;
  transform: translateX(-50%);
  /* clip path trapezoid */
  border-radius: 0.5em;
}

.split {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5em;
}

.avatar {
  aspect-ratio: 1;
  height: 1em;
  border-radius: 5px;
}

.info,
.profile {
  display: flex;
  align-items: center;
  gap: 0.75em;
  justify-content: space-between;
}

.score {
  --cscore: -3em;
  font-size: 2em;
  padding: 0 0.5em;
  border-radius: 5px;
  background-color: #f3f3f3;
  color: black;
  flex-grow: 1;
  max-width: 2em;
  position: relative;
  overflow: hidden;
  z-index: 10;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.score .after {
  transform: translateZ(-10px);
  position: absolute;
  width: 3em;
  top: 0;
  bottom: 0;
  background-color: var(--user-color);
  right: var(--cscore);
  transition: all 0.3s ease-in-out;
  z-index: -1;
}

.computer-score {
  text-align: right;
}

.computer-score .after {
  right: auto;
  left: var(--cscore);
  background-color: var(--computer-color);
}

.displays img {
  width: 1vw;
  aspect-ratio: 1;
  object-fit: contain;
  transform: scale(0);
  transition: transform 2s ease-in-out;
  opacity: 0;
}

.displays img.active {
  opacity: 1;
  transform: scale(25);
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  justify-content: center;
  position: absolute;
  right: 2em;
  transform: translateY(-50%);
  top: 50%;
  background-color: var(--scoreboard);
  padding: 1em;
  border-radius: 5px;
  width: fit-content;
}

.actions img {
  cursor: pointer;
  height: 2em;
  aspect-ratio: 1;
  object-fit: contain;
  padding: 0.5em;
  border-radius: 5px;
  background-color: rgb(216, 251, 251);
}

.actions img:hover {
  transform: scale(1.2);
  transition: all 0.2s ease-in-out;
}

#message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: clamp(1.5rem, 5vw, 2rem);
  z-index: 10;
  text-align: center;
  color: black;
  font-weight: 700;
  transition: opacity 0.3s ease-in-out;
  background-color: var(--scoreboard);
  padding: 1rem;
  border-radius: 5px;
  opacity: 0;
}

#message.active {
  opacity: 1;
  background-color: #3ef869;
  color: black;
}

#message.error {
  background-color: rgb(252, 72, 72);
  color: white;
}

#message.info {
  background-color: rgb(75, 108, 206);
  color: white;
}

@media screen and (max-width: 700px) {
  .container {
    grid-template-columns: 1fr;
  }

  .scoreboard {
    top: 0.5em;
  }

  .actions {
    flex-direction: row;
    bottom: 0.5em;
    top: auto;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.5em;
  }

  .displays img.active {
    transform: scale(20);
  }
}
